@import url(/assets/css/nav.css);
@import url(/assets/css/styles.css);

body {
  background-color: var(--beach);
}

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

main h2 {
  margin-bottom: 30px;
}

.ticket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.ticket-item .description {
  flex: 1;
}

.ticket-item .description p {
  color: #666;
}

.ticket-item .price {
  margin-right: 20px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.quantity input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.2em;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-group input[name="name"] {
    grid-column: 1 / 7;
}

.form-group input[name="email"] {
    grid-column: 1 / 4;
}

.form-group input[name="phone"] {
    grid-column: 4 / 7;
}

.form-group input[name="address"] {
    grid-column: 1 / 7;
}

.form-group input[name="zipcode"] {
    grid-column: 1 / 3;
}

.form-group input[name="city"] {
    grid-column: 3 / 5;
}

.form-group input[name="country"] {
    grid-column: 5 / 7;
}

.form-group input[name="cardnr"] {
    grid-column: 1 / 3;
}

.form-group input[name="carddate"] {
    grid-column: 3 / 5;
}

.form-group input[name="cvc"] {
    grid-column: 5 / 7;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #795548;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
