@import url(/assets/css/nav.css);
@import url(/assets/css/styles.css);

body {
  background-color: var(--brown);
}

main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

main h2 {
  margin-bottom: 30px;
}

form {
  text-align: center;
}

main .text {
  max-width: 990px;
}

main .text h2 {
  font-size: 78px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--beach);
}

main .text p {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--beach);
}

.form-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  background-color: var(--beach);
}

.form-group input[name="name"] {
  grid-column: 1 / 7;
}

.form-group input[name="email"] {
  grid-column: 1 / 4;
}

.form-group input[name="phone"] {
  grid-column: 4 / 7;
}

.form-group input[name="address"] {
  grid-column: 1 / 7;
}

.form-group input[name="zipcode"] {
  grid-column: 1 / 3;
}

.form-group input[name="city"] {
  grid-column: 3 / 5;
}

.form-group input[name="country"] {
  grid-column: 5 / 7;
}

.form-group input[name="cardnr"] {
  grid-column: 1 / 3;
}

.form-group input[name="carddate"] {
  grid-column: 3 / 5;
}

.form-group input[name="cvc"] {
  grid-column: 5 / 7;
}

button[type="submit"] {
  padding: 13px 50px;
  border: none;
  background-color: var(--beach);
  color: var(--brown);
  font-size: 40px;
  margin-top: 20px;
  border-radius: 55px;
  font-weight: 700;
}
